:root{
    --primary-color: #FF4040;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    
    background: linear-gradient(to right, #081A5C, #6b92e0);
}
.player{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}
.player .icon__pause{
    display: none;
}
.player.playing .icon__pause {
    display: inline-block;
  }
.player.playing .icon__play {
    display: none;
  }
.dashboard{
    
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid #ebebeb ;
    background-color:#161821;
    color: #fff;
    border-radius: 5px;
}

header {
    text-align: center;
    margin-bottom: 15px;
}
header h4 {
    color: var(--primary-color);
    font-size: 14px;
}
header h2{
    color: #fff;
    font-size: 20px;
}

.cd{
   display: flex;
   margin: auto;
    width: 200px;
}
.cd__thumbnail{
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    border: 2px solid var(--primary-color);
}
.cd__control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    padding: 20px 0 10px 0;
    
}
.control__btn__mixed, .control__btn__repeat{
    font-size: 40px;

}
.control__btn__mixed i:hover, .control__btn__repeat i:hover,
 .control__btn__next i:hover,
 .control__btn__previous i:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.cd__control .btn.active{
    color: var(--primary-color);
}
.cd__control .control__btn__toggle--play{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.control__btn__toggle--play i:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%;
}

.process__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 10px;
}


.process{
    flex-grow: 1;
    
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    height: 6px;
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.process:hover{
    height: 10px;
}
.process:hover::-webkit-slider-thumb{
    background: var(--primary-color);
    box-shadow: -500px 0 0 500px var(--primary-color);
}
.process::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    width: 12px;
    height: 6px;
    background: var(--primary-color);
    box-shadow: -500px 0 0 500px var(--primary-color);
}

.process::-moz-range-thumb{
    width: 12px;
    height: 10px;
    background: var(--primary-color);
    cursor: pointer;
}


.playlist {
    margin-top: 420px;
    padding: 15px;
    background-color: #BDBDBD;
    border-radius: 5px;
}
  
.song {
    display: flex;
    align-items: center;
    margin-bottom:12px;
    background-color: #F5EDB5;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    
   
}
.song:hover{
    cursor: pointer;
}
  
.song.active {
    background-color: var(--primary-color);
}
  
.song:active {
    opacity: 0.8;
}
  
.song.active .option{
    color: #fff;
}
.song.active .artist,
.song.active .title {
    color: #fff;
    font-size: 20px;
}
  
.song .thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #a9a9a9;
}
  
.song.active .thumb{
    border: 1px solid black;
}
.song.active .thumb:hover{
    width: 70px;
    height: 70px;

    cursor: pointer;
}

  

.song .body {
    flex: 1;
    padding: 0 16px;
}
  
.song .title {
    font-size: 18px;
}
  
.song .artist {
    font-size: 14px;
    color: black;
}
  
.song .option {
    padding: 16px 8px;
    color: black;
    font-size: 24px;
}
.song.active .artist:hover,
.song.active .title:hover,
.song .option i:hover{
      color: black;
      cursor: pointer;
      font-size: 20px;
     
}
  